<!-- ##### Footer Add Area Start ##### -->
<div class="footer-add-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-add">
                    <a href="#"><img src="/img/bg-img/footer-add.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Footer Add Area End ##### -->
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget-area mt-80">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="/img/core-img/logo.png" alt=""></a>
                        </div>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="mailto:bptit96@gmail.com">bptit96@gmail</a></li>
                            <li><a href="tel:0376963252">037 6963 252</a></li>
                            <li><a href="https://www.obu.vn">www.obu.vn</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">Đóng Góp Cùng Website</h4>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="#/">Đặt Câu Hỏi</a></li>
                            <li><a href="#/">Trả Lời Câu Hỏi</a></li>
                            <li><a href="#/">Tìm Bug</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget-area mt-80">
                        <!-- Title -->
                        <h4 class="widget-title">Chính Sách và Điều Khoản</h4>
                        <!-- List -->
                        <ul class="list">
                            <li><a href="#">Chính Sách</a></li>
                            <li><a href="#">Điều Khoản Sử Dụng</a></li>
                            <li><a href="#">Báo Lỗi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Copywrite -->
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Bản quyền &copy;
                        <script>document.write(new Date().getFullYear());</script> 2018  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://facebook.com/www.obu.vn" target="_blank">Hoàng Long</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->