<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Login Search Area -->
                        <div class="login-search-area d-flex align-items-center">
                            <!-- Login -->
                            <div class="login d-flex">
                                <a href="#">Đăng Nhập</a>
                                <a href="#">Đăng Ký</a>
                            </div>
                            <!-- Search Form -->
                            <div class="search-form">
                                <form action="#" method="post">
                                    <input type="search" name="search" class="form-control" placeholder="Tìm Kiếm Lỗi, Bug">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="newspaper-main-menu" id="stickyMenu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="newspaperNav">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html"><img src="/img/core-img/logo.png" alt=""></a>
                    </div>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><a href="index.html">Trang Chủ</a></li>
                                <li>
                                    <a href="#/">Ngôn Ngữ Lập Trình</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">PHP</a></li>
                                        <li><a href="catagories-post.html">Javascript</a></li>
                                        <li><a href="single-post.html">ASP.NET C#</a></li>
                                        <li><a href="about.html">ASP.NET VB</a></li>
                                        <li><a href="contact.html">C/C++</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Phần Mềm Lập Trình</a></li>
                                <li><a href="#">Thủ Thuật</a></li>
                                <li><a href="#">Một Số Hàm</a></li>
                                <li><a href="contact.html">Liên Hệ</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center">
                    <div class="news-title">
                        <p>Giới Thiệu Về Website</p>
                    </div>
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            <li><a href="#/">Tổng Hợp Các Lỗi Khi Lập Trình.</a></li>
                            <li><a href="#/">Các Lỗi Ở Windows.</a></li>
                            <li><a href="#/">Các thủ thuật, các hàm custom mọi ngôn ngữ!</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Breaking News Widget -->
                <div class="breaking-news-area d-flex align-items-center mt-15">
                    <div class="news-title title2">
                        <p>Đóng Góp Cho Website</p>
                    </div>
                    <div id="internationalTicker" class="ticker">
                        <ul>
                            <li><a href="#/">Bạn gặp lỗi không tìm thấy trong kết quả tìm kiếm.</a></li>
                            <li><a href="#/">Đặt ngay câu hỏi cho chúng tôi!.</a></li>
                            <li><a href="#/">Chúng tôi sẽ hỗ trợ bạn trong vòng 1h(nếu biết) !</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Hero Add -->
            <div class="col-12 col-lg-4">
                <div class="hero-add">
                    <a href="#"><img src="/img/bg-img/hero-add.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->
